<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ufmg.br/dcc/asml/ASMLModel" 
       class = "br.ufmg.dcc.asml.aSMLModel.ASMLModelPackage"
       genModel = "model/generated/ASMLModel.genmodel" /> 
	
  </extension>



</plugin>
