/.ASMLModelScopeProvider.java._trace
/ASMLModelScopeProvider.java
/.ASMLModelScopeProvider.xtendbin
/.ASMLModelScopeProvider.java._trace
/.ASMLModelScopeProvider.xtendbin
/ASMLModelScopeProvider.java
